= form_for @machine do |f|
  - if @machine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@machine.errors.count, "error")} prohibited this machine from being saved:"
      %ul
        - @machine.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :machine_name
    = f.text_field :machine_name
  .field
    = f.label :machine_type
    = f.text_field :machine_type
  .field
    = f.label :out_of_order
    = f.check_box :out_of_order
  .field
    = f.label :on_frequency
    = f.number_field :on_frequency
  .field
    = f.label :off_frequency
    = f.number_field :off_frequency
  .actions
    = f.submit 'Save'
