%h1 Listing machines

%table
  %thead
    %tr
      %th Machine name
      %th Machine type
      %th Out of order
      %th On frequency
      %th Off frequency
      %th
      %th
      %th

  %tbody
    - @machines.each do |machine|
      %tr
        %td= machine.machine_name
        %td= machine.machine_type
        %td= machine.out_of_order
        %td= machine.on_frequency
        %td= machine.off_frequency
        %td= link_to 'Show', machine
        %td= link_to 'Edit', edit_machine_path(machine)
        %td= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Machine', new_machine_path
